<!--<img ng-src="{{mainImageUrl}}" class="phone">-->
<div class = "phone-images">
    <img ng-repeat="img in $ctrl.phone.images"
         ng-src="{{img}}"
         class = "phone"
         ng-class="{selected:$ctrl.mainImageUrl===img}"
    >
</div>


<h1>{{$ctrl.phone.name}}</h1>
<p>{{$ctrl.phone.description}}</p>

<ul class="phone-thumbs">
    <li ng-repeat="img in $ctrl.phone.images">
        <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)">
    </li>
</ul>

<ul class="specs">
    <li>
        <span>Availability and Networks</span>
        <ul>
            <dt>Availability</dt>
            <dd ng-repeat="availability in $ctrl.phone.availability">{{availability}}</dd>
        </ul>
    </li>

    </li>
        <span>Additional Features</span>
        <dd>{{$ctrl.phone.additionalFeatures}}</dd>
    </li>

    <dl>
        <dt>Infrared</dt>
        <dd>{{$ctrl.phone.connectivity.infrared | checkmark}}</dd>
        <dt>GPS</dt>
        <dd>{{$ctrl.phone.connectivity.gps | checkmark}}</dd>
    </dl>
</ul>
